<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="API Statis Data Wilayah Indonesia" />
  <meta property="og:description" content="Contoh penggunaan API statis data wilayah Indonesia menggunakan Javascript fetch API." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://emsifa.github.io/api-wilayah-indonesia" />
  <meta property="og:image" content="https://emsifa.github.io/api-wilayah-indonesia/img/og-image.png" />

  <title>API Statis Data Wilayah Indonesia</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" defer></script>
  <script src="js/app.js" defer></script>
</head>
<body>
  <div id="app" class="container-fluid my-3 my-md-5">
    <div class="row d-flex align-items-center justify-content-center" style="height: 100vh">
      <div class="col-lg-7 col-md-7 col-sm-10 col-11">
        <header>
          <h3 class="text-muted"><strong>API STATIS</strong></h3>
          <h2 class="mt-0 mb-0 text-info">
            DATA WILAYAH INDONESIA
          </h2>
          <p class="mt-3 mb-4 text-muted">
            Contoh penggunaan <a href="https://www.github.com/emsifa/api-wilayah-indonesia" class="underline">API statis data wilayah Indonesia <sup><i class="icon ion-logo-github text-info"></i></sup></a> menggunakan Javascript <code>fetch</code> API.
          </p>
        </header>


        <div class="row">
          <!-- PROVINSI -->
          <div class="col-md-12">
            <div class="card mb-4">
              <div v-if="fetchProvincesCode" class="card-body bg-secondary">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="text-warning mb-3 mt-0">Fetch List Provinsi</h4>
                    <pre v-html="fetchProvincesCode" class="mb-0 text-white"></pre>
                  </div>
                  <div class="col-md-6">
                    <h5 class="text-warning mb-3 mt-0 mt-md-0 mt-3">Response</h5>
                    <div v-if="fetchingProvinces" class="text-white d-flex justify-content-center align-items-center" style="max-height: 140px;">
                      <i class="icon ion-md-refresh spinning d-inline-block text-fade-50" style="font-size: 2rem;"></i>
                    </div>
                    <pre v-if="!fetchingProvinces" v-html="responseProvinces" class="text-white" style="max-height: 140px;"></pre>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group mb-0">
                  <label for="">Pilih Provinsi</label>
                  <select v-model="provinceId" class="form-control">
                    <option value=""></option>
                    <option v-for="prov in provinces" :key="prov.id" :value="prov.id">{{ prov.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- KAB/KOTA -->
          <div class="col-md-12 d-none unhide-on-mounted">
            <transition name="fade">
              <div v-if="fetchRegenciesCode" class="card mb-4">
                <div class="card-body bg-secondary">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="text-warning mb-3 mt-0">Fetch List Kab/Kota</h4>
                      <pre v-html="fetchRegenciesCode" class="mb-0 text-white"></pre>
                    </div>
                    <div class="col-md-6">
                      <h5 class="text-warning mb-3 mt-0 mt-md-0 mt-3">Response</h5>
                      <div v-if="fetchingRegencies" class="text-white d-flex justify-content-center align-items-center" style="max-height: 140px;">
                        <i class="icon ion-md-refresh spinning d-inline-block text-fade-50" style="font-size: 2rem;"></i>
                      </div>
                      <pre v-if="!fetchingRegencies" v-html="responseRegencies" class="text-white" style="max-height: 140px;"></pre>
                    </div>
                  </div>
                </div>
                <div v-if="provinceId" class="card-body">
                  <div class="form-group mb-0">
                    <label for="">Pilih Kab/Kota</label>
                    <select v-model="regencyId" class="form-control">
                      <option value=""></option>
                      <option v-for="reg in regencies" :key="reg.id" :value="reg.id">{{ reg.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
        <!-- /row -->

        <div class="row">
          <!-- KECAMATAN -->
          <div class="col-md-12 d-none unhide-on-mounted">
            <transition name="fade">
              <div v-if="fetchDistrictsCode" class="card mb-4">
                <div class="card-body bg-secondary">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="text-warning mb-3 mt-0">Fetch List Kecamatan</h5 class="mb-3 mt-0">
                      <pre v-html="fetchDistrictsCode" class="mb-0 text-white"></pre>
                    </div>
                    <div class="col-md-6">
                      <h5 class="text-warning mb-3 mt-0 mt-md-0 mt-3">Response</h5>
                      <div v-if="fetchingDistricts" class="text-white d-flex justify-content-center align-items-center" style="max-height: 140px;">
                        <i class="icon ion-md-refresh spinning d-inline-block text-fade-50" style="font-size: 2rem;"></i>
                      </div>
                      <pre v-if="!fetchingDistricts" v-html="responseDistricts" class="text-white" style="max-height: 140px;"></pre>
                    </div>
                  </div>
                </div>
                <div v-if="regencyId" class="card-body">
                  <div class="form-group mb-0">
                    <label for="">Pilih Kecamatan</label>
                    <select v-model="districtId" class="form-control">
                      <option value=""></option>
                      <option v-for="dist in districts" :key="dist.id" :value="dist.id">{{ dist.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </transition>
          </div>
          <!-- KELURAHAN -->
          <div class="col-md-12 d-none unhide-on-mounted">
            <transition name="fade">
              <div v-if="fetchVillagesCode" class="card mb-4">
                <div class="card-body bg-secondary">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="text-warning mb-3 mt-0">Fetch List Kelurahan</h5>
                      <pre v-html="fetchVillagesCode" class="mb-0 text-white"></pre>
                    </div>
                    <div class="col-md-6">
                      <h5 class="text-warning mb-3 mt-0 mt-md-0 mt-3">Response</h5>
                      <div v-if="fetchingVillages" class="text-white d-flex justify-content-center align-items-center" style="max-height: 140px;">
                        <i class="icon ion-md-refresh spinning d-inline-block text-fade-50" style="font-size: 2rem;"></i>
                      </div>
                      <pre v-if="!fetchingVillages" v-html="responseVillages" class="text-white" style="max-height: 140px;"></pre>
                    </div>
                  </div>
                </div>
                <div v-if="districtId" class="card-body">
                  <div class="form-group mb-0">
                    <label for="">Pilih Kelurahan</label>
                    <select v-model="villageId" class="form-control">
                      <option value=""></option>
                      <option v-for="vill in villages" :key="vill.id" :value="vill.id">{{ vill.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
        <!-- /row -->

        <footer class="mb-4">
          <div class="row d-flex d-sm-flex d-md-none">
            <transition name="fade">
              <div v-if="completed" class="col-12 text-center text-muted mb-4">
                Selengkapnya
                <br>
                <i class="icon ion-md-arrow-down"></i>
                <br>
                <a href="" class="d-inline-block text-info" style="font-size: 5rem; margin-top: -24px;">
                  <strong>
                    <i class="icon ion-logo-github"></i>
                  </strong>
                </a>
              </div>
            </transition>
            <div class="col-12 text-center">
              <p class="text-muted m-0">
                &copy; 2019
                -
                <a href="https://www.facebook.com/em.sifa" class="text-info">Muhammad Syifa</a>
                <span class="text-fade-50">|</span>
                <span>Powered by <a href="https://pages.github.com/" class="text-info">GitHub Page</a></span>
              </span>
            </div>
          </div>
          <div class="row d-none d-sm-none d-md-flex">
            <div class="col-md-6">
              <p class="text-muted m-0">
                &copy; 2019
                -
                <a href="https://www.facebook.com/em.sifa" class="text-info">Muhammad Syifa</a>
                <span class="text-fade-50">|</span>
                <span>Powered by <a href="https://pages.github.com/" class="text-info">GitHub Page</a></span>
              </p>
            </div>
            <transition name="slide">
              <div v-if="completed" class="col-md-6 text-right text-muted">
                Selengkapnya ada di
                <a href="https://www.github.com/emsifa/api-wilayah-indonesia" class="text-info">
                  <strong>
                    GitHub
                    <i class="icon ion-md-arrow-forward"></i>
                  </strong>
                </a>
              </div>
            </transition>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>