@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Leaflet fix */
.leaflet-container {
  font-family: var(--font-sans);
}

/* Scrollbar subtle */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
