html,body {
  background-color: #efefef;
}

a[href] {
  color: #6b6b6b;
}

.underline {
  text-decoration: underline;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all .5s;
}

.slide-enter, .slide-leave-to /* .slide-leave-active below version 2.1.8 */ {
  transform: translateX(-50px) scale(0.8);
  opacity: 0;
}

a.github-link:hover > i {
  color: #37474f !important;
}

.bg-secondary {
  background-color: #37474f !important;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}

.overlay .logo-github {
  color: white;
  font-size: 10rem;
}

.overlay .logo-github:hover {
  color: #b2ebf2;
}

pre a[href] {
  color: #b2ebf2;
}

.text-fade-50 {
  opacity: .5;
}

.spinning {
  -webkit-animation: spinning .8s linear infinite;
  -moz-animation: spinning .8s linear infinite;
  animation: spinning .8s linear infinite;
}

@-moz-keyframes spinning {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinning {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spinning {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}